<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debug</key>
	<dict>
		<key>etherscanApiKey</key>
		<string>E5QFXD7ZYRH7THQM5PIXB8JD4GY38SEJZ4</string>
	</dict>
	<key>Release</key>
	<dict>
		<key>etherscanApiKey</key>
		<string>E5QFXD7ZYRH7THQM5PIXB8JD4GY38SEJZ4</string>
	</dict>
</dict>
</plist>
